In [14]:
def print_name(*argu):
    print(argu)
li =(1,2,3,4,5)
dic ={
    "name": "nasir",
    "age" : 17,
    "class" : 10
}
set1= {1,2,3,4,4,4,567}
print_name(*li)
print_name(*dic.items())
print_name(*set1)

(1, 2, 3, 4, 5)
(('name', 'nasir'), ('age', 17), ('class', 10))
(1, 2, 3, 4, 567)